@page "/logout"
@using ASM_NhomSugar_SD19311.Service
@inject AuthService AuthService
@inject NavigationManager NavigationManager

<h3>Đang đăng xuất...</h3>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Gọi phương thức LogoutAsync từ AuthService
            await AuthService.LogoutAsync();

            // Sau khi đăng xuất, điều hướng đến trang đăng nhập
            NavigationManager.NavigateTo("/", true);
        }
    }
}